.mass_wrapper {
	border-radius: 10px;
	box-shadow: #666 0px 0px 10px;
	behavior: url("PIE-1.0.0/PIE.htc");
}
.right_container {
	border-radius: 0 10px 10px 0;
	behavior: url("PIE-1.0.0/PIE.htc");
}
.products_sallers {
	border-radius: 0 10px 10px 0;
	behavior: url("PIE-1.0.0/PIE.htc");
	background-color: #fbfbfb;
}
